@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&family=Space+Grotesk&display=swap');
/* Background for the body of web page */

/*Body*/
body{
    background-image: url('./images/background.jpeg');
}
/*header*/
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 /*navigation bar*/ 
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Indie Flower", Kalam, Space Grotesk;
}
nav a {
    margin: 0 12px; 
    padding: 60px;
    text-decoration: none;
    font-size: x-large;
    color: black;
    
}
nav a:hover{
    color: white;
}
/*Logo*/
.logo{
    width: 10%;
    border: 5px solid black;
    position: absolute;
    margin-top: 5px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*Pictures with link*/
/*Main*/
#picture-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    margin-top: 100px;
}

#picture-home p {
    grid-column: 1/2;
    text-align: center;
    margin: 0 auto;
}

#picture-antigua {
    grid-column: 2/3;
}

.picture-places {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.picture-places p {
    grid-column: 2/3;
    text-align: center;
    margin: 0 auto;
}

.picture1 {
    grid-column: 1/2;
}

.pictures-food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.girl-fruit {
    grid-column: 2/3;
}

.pictures-food p {
    grid-column: 1/2;
    text-align: center;
    margin: 0 auto;
}

.picture-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.picture-history p {
    grid-column: 2/3;
    text-align: center;
    margin: 0 auto;
}

.pic-history {
    grid-column: 1/2;
    margin-left: 200px;
    width: 90%;
}


/*Background behind logo*/
#background{
    background-color: #B8B8B8;
    border: 5px solid;
    position: absolute;
    width: 91.5%;
    padding: 50px;
    top: 3%;
    z-index: -1;
    box-shadow: 5px 5px 5px #C4EFFD;
}

/* Paragraph */
.paragraph{
    font-size: 21px;
    color: black;
    font-family: "Kalam", Indie Flower, Space Grotesk;
    border: 5px black solid;
    background-color: #B8B8B8;
    grid-row: 1/3;
    grid-column: 2/3;
    width: 50%;
    text-align: center;
    box-shadow: #C4EFFD 5px 5px 5px;
    
}

/*Footer*/
footer {
    background-color: #B8B8B8;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Indie Flower", Kalam, Space Grotesk;
    font-size: x-large;
    border: 5px solid black;
    box-shadow: 5px 5px 5px #C4EFFD;
    position:relative;
    bottom: 0;
    left: 0;
    width: 97%;
    margin: 0 12px; 
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 1px;
}
footer a:hover{
    color: white;
}
footer a{
    text-decoration: none;
    color: black;
    
}

.content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 1fr;
}



/*--------------------------------------------*/

/*History page*/

.history-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
.pics-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.history-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.history-picture img {
    width: 500px;
    height: auto;
}
.paragraph-history {
    margin-top: 30px;
    text-align: center;
    border: solid black 5px;
    background-color: #B8B8B8;
    color: black;
    font-family: "Kalam", Indie Flower, Space Grotesk;;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #C4EFFD;

}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .paragraph-culture{
    font-size: 21px;
    color: black;
    font-family: "Kalam", Indie Flower, Space Grotesk;
    border: 5px black solid;
    background-color: #B8B8B8;
    grid-row: 1/3;
    grid-column: 2/3;
    width: 50%;
    text-align: center;
    box-shadow: #C4EFFD 5px 5px 5px;
    
}




/*------------------------------------------*/
/*Pictures page*/
div.scroll-container {
    background-color: #B8B8B8;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    box-shadow: 5px 5px 5px #C4EFFD;
    border: 5px solid black;
    margin-top: 80px;
    
}
  
  div.scroll-container img {
    padding: 10px;
}
.paragraph-pictures{
    background-color: #B8B8B8;
    color: black;
    border: 5px solid black;
    box-shadow: 5px 5px 5px #C4EFFD;
    font-size: x-large;
    font-family:"Kalam", Indie Flower, Space Grotesk ;
    margin-top: 70px;
}
div.scroll-container2 {
    background-color: #B8B8B8;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    box-shadow: 5px 5px 5px #C4EFFD;
    border: 5px solid black;
    margin-top: 80px;
    margin-bottom: 70px;
    
}

/*-----------------------------------*/
/* Culture Page */

#picture-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    margin-top: 100px;
}

#picture-home p {
    grid-column: 1/2;
    text-align: center;
    margin: 0 auto;
}

#picture-antigua {
    grid-column: 2/3;
}

.picture-places {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.picture-places p {
    grid-column: 2/3;
    text-align: center;
    margin: 0 auto;
}

.picture1 {
    grid-column: 1/2;
}

.pictures-food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.girl-fruit {
    grid-column: 2/3;
}

.pictures-food p {
    grid-column: 1/2;
    text-align: center;
    margin: 0 auto;
}

.picture-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.picture-history p {
    grid-column: 2/3;
    text-align: center;
    margin: 0 auto;
}

.pic-history {
    grid-column: 1/2;
    margin-left: 200px;
    width: 90%;
}