@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&family=Space+Grotesk&display=swap');
/* Background for the body of web page */

/*Body*/
body{
    background-image: url('./images/background.jpeg');
}
/*header*/
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 /*navigation bar*/ 
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Indie Flower", Kalam, Space Grotesk;
}
nav a {
    margin: 0 12px; 
    padding: 60px;
    text-decoration: none;
    font-size: x-large;
    color: black;
}
nav a:hover{
    background-color: darkgreen;
    color: white;
}
/*Logo*/
.logo{
    width: 10%;
    border: 5px solid black;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*Pictures with link*/
/*Main*/
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: auto auto auto; /* Auto-sized rows for pictures and paragraph */
    grid-gap: 20px; /* Gap between grid items */
    align-items: start; /* Align grid items to the top */
  }
  
  .picture-places {
    grid-column: 1 / span 1; /* Position in the first column */
    grid-row: 1 / span 1; /* Position in the first row */
  }
  
  .paragraph {
    grid-column: 1 / span 2; /* Position in the first and second columns */
    grid-row: 2 / span 1; /* Position in the second row */
  }
  
  .pictures-food {
    grid-column: 2 / span 1; /* Position in the second column */
    grid-row: 1 / span 1; /* Position in the first row */
  }
  
  .picture-history {
    grid-column: 2 / span 1; /* Position in the second column */
    grid-row: 3 / span 1; /* Position in the third row */
  }

.picture1{
    width: 40%;
    border: black solid 5px;
}
#picture-antigua{
    width: 40%;
    border: 5px solid black;
}
.girl-fruit{
    width: 45%;
    border: 5px black solid;
}
.pic-history{
    width: 40%;
    border: 5px black solid;
}
/*Background behind logo*/
#background{
    background-color: #B8B8B8;
    border: 5px solid;
    position: absolute;
    width: 91.5%;
    padding: 50px;
    top: 3%;
    z-index: -1;
    box-shadow: 5px 5px 5px #C4EFFD;
}

/* Paragraph */
.paragraph{
    font-size: x-large;
    color: black;
    font-family: "Kalam", Indie Flower, Space Grotesk;;
    border: 5px black solid;
    background-color: #B8B8B8;
}

/*Footer*/
footer {
    background-color: #B8B8B8;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Indie Flower", Kalam, Space Grotesk;
    font-size: x-large;
    border: 5px solid black;
    box-shadow: 5px 5px 5px #C4EFFD;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: black;
}

/*History page*/

.paragraph1{
    color: white;
}

/*Pictures page*/
.paragraph2{
    color: white;
}

/*Food page*/
